* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}


header { background: #0f172a; color: #fff; padding: 40px 20px; text-align: center; }
header h1 { font-size: 2.5rem; }
header p { margin-top: 10px; color: #cbd5e1; }


nav { background: #020617; padding: 10px; position: sticky; top: 0; }
nav ul { display: flex; justify-content: center; list-style: none; gap: 20px; }
nav a { color: #e5e7eb; text-decoration: none; font-weight: bold; }
nav a:hover { color: #38bdf8; }

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #020617, #0f172a);
  text-align: center;
  padding: 20px;
}

.profile-pic {
  width: 200px;
  height: 230px;
  border-radius: 100%;
  border: 4px solid #38bdf8;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.hero h1 {
  font-size: 2.8rem;
  color: #38bdf8;
}

.hero h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 0;
}

.hero p {
  max-width: 500px;
  margin: 15px auto;
  color: #cbd5f5;
}

.hero-buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* ABOUT */
.about p {
  text-align: center;
  max-width: 700px;
  margin: auto;
  color: #cbd5f5;
}

/* SKILLS */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill {
  background: #020617;
  padding: 18px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

/* CONTACT */
.contact {
  text-align: center;
}

.socials a {
  margin: 10px;
  text-decoration: none;
  color: #38bdf8;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  color: #94a3b8;
}
